.hero-image {
  border-radius: 10%;
}

body {
  background-color: rgb(248, 249, 250);
}

.gradient-background {
  background: linear-gradient(300deg, #ffffff, #d3d3d3, #888888);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

/* body {
  margin: 0;
} */

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.grey-background {
  background-color: #43766c;
}

.example {
  color: white;
}
