* {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 4%;
    text-align: center;
}

img {
    border: 5px solid white;
    width: 700px;
    height: 380px;
}

h1 {
    color: white;
    font-family: 'Libre Baskerville';
    text-transform: uppercase;
}

p {
    color: white;
}